In [130]:
import pandas as pd
import numpy as np

In [131]:
df = pd.read_csv('all_site_reviews_trustpilot.csv')
df.head()

,consumer_name,consumer_review,consumer_country,date,rating,review_topic,review_content,site
0,Vladimiro Mascaro,3 reviews,GB,"Friday, October 11, 2024 at 06:25:37 p.m.",Rated 1 out of 5 stars,4 MONTHS OF TOTAL INCOPETENCE,Since July until this month of all my orders (...,amazon
1,Lucy Loo,9 reviews,GB,"Friday, October 11, 2024 at 09:57:32 a.m.",Rated 1 out of 5 stars,Driver stealing,As a family we order from Amazon almost daily....,amazon
2,Da,21 reviews,GB,"Thursday, October 10, 2024 at 11:36:09 a.m.",Rated 5 out of 5 stars,Where is the negativity coming from?,Probably the only store that 1) delivers on-ti...,amazon
3,Vicki Study,1 review,GB,"Friday, October 11, 2024 at 03:36:33 p.m.",Rated 1 out of 5 stars,Absolutely appalling customer service,The customer service has been absolutely appal...,amazon
4,Jeffrey Bruce,5 reviews,GB,"Thursday, October 10, 2024 at 05:09:02 p.m.",Rated 1 out of 5 stars,Amazon are quick enough to take payment…,Amazon are quick enough to take payment for or...,amazon

# Data Accessing

### Summary of data

The dataset consists of customer reviews collected from five different websites, including Amazon, eBay, Alibaba, Walmart, and Bestbuy. Each review includes details such as the reviewer's name, the number of reviews they have written, their country, and the date of the review. Additionally, the dataset contains the rating provided by the reviewer, the topic or title of the review, and the full review content. Most reviews focus on customer service experiences, product quality, or issues with delivery, and the dataset captures both positive and negative sentiments across various consumer experiences. Each review is also associated with the specific website where it was posted.

* **Columns:**

    1. consumer_name: Contains the name of the reviewer, with "Not Available" appearing in 75 cases.
    2. consumer_review: Indicates the number of reviews written by each consumer, with the most common being "1 review" (588 occurrences).
    3. consumer_country: Represents the reviewer's country, with the most frequent country being the US (863 reviews).
    4. date: The timestamp for when the review was posted, with 75 entries listed as "Not Available".
    5. rating: Contains the rating, most commonly "Rated 1 out of 5 stars" (1031 reviews).
    6. review_topic: The topic or title of the review, with 75 occurrences marked as "Not Available".
    7. review_content: The full review text, with 75 occurrences marked as "Not Available".
    8. site: The website for which the review was posted, with reviews split across five sites. "Bestbuy" is the most frequent (314 reviews).

### Issues with the database

1. Dirty Data 

    * **consumer_name**:  
        1. One not null value  **Completeness**
        2. Rename column to name  **Consistency**
        3. Need to tream extra spaces and make it lower letter **Accuracy**
    
    * **consumer_review**: 
        1. Need to change name **Consistency**
        2. Remove the word 'Review' **Accuracy**
        3. Change column type to int or float. **Accuracy**

    * **consumer_country**: 
        1. Need to change name **Consistency**
        2. Need to find the country name based on short name **Accuracy**


    * **date**: 
        1. Remove extra letters or text **Accuracy**
        2. Change type to date-time **Accuracy**

    * **rating**: 
        1. Need to remove the exrea text **Accuracy**
        2. Make a column type int or float
        **Accuracy**

    * **review_topic**:
        1. Need to change name **Consistency**
        2. Make all the text into lower letter and then remove special charecter.**Consistency**

    * **review_content**
        1. Need to change name **Consistency**
        2. Make all the text into lower letter and remove special character **Consistency**

    * **site**:
        1. Change name to company_name **Consistency**

2. Messey Data

    * **review_content**: 
        1. Join with review_topic and then make one column for sentiment analysis
        2. Need to do sentiment analysis and make more column for that.

### Automated Assessment

In [132]:
df.head()

,consumer_name,consumer_review,consumer_country,date,rating,review_topic,review_content,site
0,Vladimiro Mascaro,3 reviews,GB,"Friday, October 11, 2024 at 06:25:37 p.m.",Rated 1 out of 5 stars,4 MONTHS OF TOTAL INCOPETENCE,Since July until this month of all my orders (...,amazon
1,Lucy Loo,9 reviews,GB,"Friday, October 11, 2024 at 09:57:32 a.m.",Rated 1 out of 5 stars,Driver stealing,As a family we order from Amazon almost daily....,amazon
2,Da,21 reviews,GB,"Thursday, October 10, 2024 at 11:36:09 a.m.",Rated 5 out of 5 stars,Where is the negativity coming from?,Probably the only store that 1) delivers on-ti...,amazon
3,Vicki Study,1 review,GB,"Friday, October 11, 2024 at 03:36:33 p.m.",Rated 1 out of 5 stars,Absolutely appalling customer service,The customer service has been absolutely appal...,amazon
4,Jeffrey Bruce,5 reviews,GB,"Thursday, October 10, 2024 at 05:09:02 p.m.",Rated 1 out of 5 stars,Amazon are quick enough to take payment…,Amazon are quick enough to take payment for or...,amazon

In [133]:
df.describe()

,consumer_name,consumer_review,consumer_country,date,rating,review_topic,review_content,site
count,1530,1531,1531,1531,1531,1531,1531,1531
unique,1405,64,89,1457,6,1440,1457,5
top,Not Available,1 review,US,Not Available,Rated 1 out of 5 stars,Not Available,Not Available,bestbuy
freq,75,588,863,75,1031,75,75,314

In [134]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1531 entries, 0 to 1530
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   consumer_name     1530 non-null   object
 1   consumer_review   1531 non-null   object
 2   consumer_country  1531 non-null   object
 3   date              1531 non-null   object
 4   rating            1531 non-null   object
 5   review_topic      1531 non-null   object
 6   review_content    1531 non-null   object
 7   site              1531 non-null   object
dtypes: object(8)
memory usage: 95.8+ KB

In [135]:
temp_df = df[df.duplicated()]
temp_df

,consumer_name,consumer_review,consumer_country,date,rating,review_topic,review_content,site
31,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,amazon
52,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,amazon
73,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,amazon
94,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,amazon
115,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,amazon
...,...,...,...,...,...,...,...,...
1437,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,bestbuy
1458,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,bestbuy
1479,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,bestbuy
1499,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,bestbuy
1520,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,bestbuy

In [136]:
df.drop_duplicates(inplace=True)

In [137]:
df[df.duplicated()]

Empty DataFrame
Columns: [consumer_name, consumer_review, consumer_country, date, rating, review_topic, review_content, site]
Index: []

In [138]:
df.isnull().sum()

consumer_name       1
consumer_review     0
consumer_country    0
date                0
rating              0
review_topic        0
review_content      0
site                0
dtype: int64

In [139]:
df['consumer_name'].value_counts()

consumer_name
customer          12
Not Available      5
George             4
Daniel             3
Alex               3
                  ..
Linda              1
Karen Bickford     1
de cee             1
Yaclyn Riley       1
Ninja Ape          1
Name: count, Length: 1405, dtype: int64

In [140]:
# not null values in conusmer name column 
df[df['consumer_name'].isnull()]
df['consumer_name'].fillna('User', inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_8624\3545246845.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['consumer_name'].fillna('User', inplace=True)

In [141]:
df[df['consumer_name'].isnull()]

Empty DataFrame
Columns: [consumer_name, consumer_review, consumer_country, date, rating, review_topic, review_content, site]
Index: []

In [142]:
# tream extra space and then rename the column name

df['consumer_name'] = df['consumer_name'].str.strip()

In [143]:
# removing extra text and changing type to int or float
df['consumer_review'] = df['consumer_review'].str.strip().str.split(" ").str.get(0)

In [144]:
df['consumer_review'] = pd.to_numeric(df['consumer_review'], errors='coerce')

In [145]:
index_df = df[df['consumer_review'].isnull()]

In [146]:
df.drop(index=index_df.index, inplace=True)

In [147]:
# chaning the country name
text = df['consumer_country'].value_counts()
print(text)

text.to_csv('country_name')

consumer_country
US               863
GB               239
CA               110
AU                25
DK                15
                ...
Not Available      1
MA                 1
QA                 1
DO                 1
JO                 1
Name: count, Length: 89, dtype: int64

In [148]:
country_code_to_name = {
    'US': 'United States',
    'GB': 'United Kingdom',
    'CA': 'Canada',
    'AU': 'Australia',
    'DK': 'Denmark',
    'DE': 'Germany',
    'FR': 'France',
    'NL': 'Netherlands',
    'ES': 'Spain',
    'PK': 'Pakistan',
    'ZA': 'South Africa',
    'SE': 'Sweden',
    'IN': 'India',
    'IL': 'Israel',
    'IE': 'Ireland',
    'NZ': 'New Zealand',
    'AT': 'Austria',
    'MX': 'Mexico',
    'PH': 'Philippines',
    'IT': 'Italy',
    'SK': 'Slovakia',
    'CH': 'Switzerland',
    'CR': 'Costa Rica',
    'TR': 'Turkey',
    'GR': 'Greece',
    'PR': 'Puerto Rico',
    'RO': 'Romania',
    'LK': 'Sri Lanka',
    'TH': 'Thailand',
    'JP': 'Japan',
    'LT': 'Lithuania',
    'HU': 'Hungary',
    'MY': 'Malaysia',
    'GH': 'Ghana',
    'SI': 'Slovenia',
    'KW': 'Kuwait',
    'VE': 'Venezuela, Bolivarian Republic of',
    'HK': 'Hong Kong',
    'PT': 'Portugal',
    'GE': 'Georgia',
    'NO': 'Norway',
    'KH': 'Cambodia',
    'BH': 'Bahrain',
    'EC': 'Ecuador',
    'BR': 'Brazil',
    'ID': 'Indonesia',
    'SA': 'Saudi Arabia',
    'PA': 'Panama',
    'AE': 'United Arab Emirates',
    'KE': 'Kenya',
    'AR': 'Argentina',
    'EG': 'Egypt',
    'MD': 'Moldova, Republic of',
    'VN': 'Viet Nam',
    'CL': 'Chile',
    'HR': 'Croatia',
    'FI': 'Finland',
    'BG': 'Bulgaria',
    'SG': 'Singapore',
    'KR': 'Korea, Republic of',
    'TZ': 'Tanzania, United Republic of',
    'NG': 'Nigeria',
    'BW': 'Botswana',
    'IQ': 'Iraq',
    'RU': 'Russian Federation',
    'UG': 'Uganda',
    'EE': 'Estonia',
    'BN': 'Brunei Darussalam',
    'CI': "Côte d'Ivoire",
    'LY': 'Libya',
    'HN': 'Honduras',
    'CY': 'Cyprus',
    'MG': 'Madagascar',
    'AL': 'Albania',
    'ZW': 'Zimbabwe',
    'RS': 'Serbia',
    'UY': 'Uruguay',
    'GT': 'Guatemala',
    'CO': 'Colombia',
    'LB': 'Lebanon',
    'UA': 'Ukraine',
    'PL': 'Poland',
    'PG': 'Papua New Guinea',
    'KZ': 'Kazakhstan',
    'MA': 'Morocco',
    'QA': 'Qatar',
    'DO': 'Dominican Republic',
    'JO': 'Jordan',
    'Not Available': None
}

df['customer_country_full'] = df['consumer_country'].map(country_code_to_name)
df['consumer_country'] = df['consumer_country'].map(country_code_to_name)

In [149]:
import pandas as pd


df['date_cleaned'] = (
    df['date']
    .str.replace(r'\w+, ', '', regex=True)    # Remove day of the week (e.g., "Friday,")
    .str.replace(' at ', ' ')                 # Remove "at"
    .str.replace('a.m.', 'AM')                # Replace 'a.m.' with 'AM'
    .str.replace('p.m.', 'PM')                # Replace 'p.m.' with 'PM'
)

df['date_cleaned'] = pd.to_datetime(df['date_cleaned'], errors='coerce')

C:\Users\User\AppData\Local\Temp\ipykernel_8624\2862801863.py:12: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['date_cleaned'] = pd.to_datetime(df['date_cleaned'], errors='coerce')

In [150]:
df['date_cleaned'].info()

<class 'pandas.core.series.Series'>
Index: 1456 entries, 0 to 1530
Series name: date_cleaned
Non-Null Count  Dtype
--------------  -----
1456 non-null   datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 22.8 KB

In [151]:
# Removing the extra text from the rating and then chaning the type to int

df['rating'] = df['rating'].str.strip().str.split(" ").str.get(1)

In [152]:
df['rating'] = df['rating'].astype('int')

In [153]:
df['rating'].info()

<class 'pandas.core.series.Series'>
Index: 1456 entries, 0 to 1530
Series name: rating
Non-Null Count  Dtype
--------------  -----
1456 non-null   int64
dtypes: int64(1)
memory usage: 22.8 KB

In [154]:
# removing the special charater from review timedelta A duration expressing the difference between two

df['review_topic_cleaned'] = df['review_topic'].str.replace(r'[^a-zA-Z0-9\s]', '', regex=True)
df['review_topic_cleaned'] = df['review_topic_cleaned'].str.lower()

df['review_content_cleaned'] = df['review_content'].str.replace(r'[^a-zA-Z0-9\s]', '', regex=True)
df['review_content_cleaned'] = df['review_content_cleaned'].str.lower()

In [155]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1456 entries, 0 to 1530
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   consumer_name           1456 non-null   object
 1   consumer_review         1456 non-null   float64
 2   consumer_country        1455 non-null   object
 3   date                    1456 non-null   object
 4   rating                  1456 non-null   int64
 5   review_topic            1456 non-null   object
 6   review_content          1456 non-null   object
 7   site                    1456 non-null   object
 8   customer_country_full   1455 non-null   object
 9   date_cleaned            1456 non-null   datetime64[ns]
 10  review_topic_cleaned    1456 non-null   object
 11  review_content_cleaned  1456 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(9)
memory usage: 147.9+ KB

In [160]:
# Changing the name of all the column which are necessary
rename_column = {
    'consumer_name' : 'name',
    'consumer_review' : 'review',
    'consumer_country' : 'country_short',
    'date' : 'date_old',
    'rating' : 'rating',
    'review_topic' : 'topic_uncleaned',
    'review_content' : 'content_uncleaned',
    'site' : 'company',
    'customer_country_full':'country',
    'date_cleaned':'date',
    'review_topic_cleaned': 'topic',
    'review_content_cleaned' : 'content',
}

df.rename(columns=rename_column, inplace=True)

In [157]:
df.columns

Index(['consumer_name', 'consumer_review', 'consumer_country', 'date',
       'rating', 'review_topic', 'review_content', 'site',
       'customer_country_full', 'date_cleaned', 'review_topic_cleaned',
       'review_content_cleaned'],
      dtype='object')

In [165]:
df.drop(columns=['topic_uncleaned','country_short','content_uncleaned'], inplace=True)

In [166]:
df.head()

,name,review,date_old,rating,company,country,date,topic,content
0,Vladimiro Mascaro,3.0,"Friday, October 11, 2024 at 06:25:37 p.m.",1,amazon,United Kingdom,2024-10-01 18:25:37,4 months of total incopetence,since july until this month of all my orders 8...
1,Lucy Loo,9.0,"Friday, October 11, 2024 at 09:57:32 a.m.",1,amazon,United Kingdom,2024-10-01 09:57:32,driver stealing,as a family we order from amazon almost daily ...
2,Da,21.0,"Thursday, October 10, 2024 at 11:36:09 a.m.",5,amazon,United Kingdom,2024-10-01 11:36:09,where is the negativity coming from,probably the only store that 1 delivers ontime...
3,Vicki Study,1.0,"Friday, October 11, 2024 at 03:36:33 p.m.",1,amazon,United Kingdom,2024-10-01 15:36:33,absolutely appalling customer service,the customer service has been absolutely appal...
4,Jeffrey Bruce,5.0,"Thursday, October 10, 2024 at 05:09:02 p.m.",1,amazon,United Kingdom,2024-10-01 17:09:02,amazon are quick enough to take payment,amazon are quick enough to take payment for or...

In [167]:
df.columns

Index(['name', 'review', 'date_old', 'rating', 'company', 'country', 'date',
       'topic', 'content'],
      dtype='object')

In [168]:
df.to_csv('amazon_reviews_cleaned.csv')